{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('http://yui.yahooapis.com/pure/0.6.0/pure-min.css', 100) %}
        {% do assets.addCss('theme://css/custom.css', 99) %}
        {% do assets.addCss('theme://css/app.min.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    <script src="https://use.typekit.net/wle1nwz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>

    {% block javascripts %}
        {% do assets.addJs('theme://js/app.min.js', 99) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>

<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
